---
import { getCollection } from "astro:content";
import ArticleCard from "@components/ArticleCard.astro";
import BaseLayout from "@layouts/BaseLayout.astro";

const allPosts = await getCollection("blog", ({ data }) => {
  return data.draft !== true;
});

const sortedPosts = allPosts.sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<BaseLayout title="Blog | PaperAir" description="我的文章列表">
  <div class="py-12">
    <h1 class="text-4xl font-extrabold mb-10 text-base-content text-center">
      所有文章
    </h1>

    {
      sortedPosts.length === 0 ? (
        <div class="text-center text-base-content/60 py-20">
          <p class="text-xl">还没有发布任何文章哦 ~</p>
        </div>
      ) : (
        <div class="list bg-base-100 rounded-box shadow-sm border border-base-200 max-w-3xl mx-auto divide-y divide-base-200">
          {sortedPosts.map((post) => (
            <ArticleCard post={post} layout="list" />
          ))}
        </div>
      )
    }
  </div>
</BaseLayout>
