---
import { Icon } from "astro-icon/components";

const today = new Date();
---

<!-- TODO: 从配置文件读取 -->
<footer class="footer footer-center bg-base-100 text-base-content p-10 rounded">
  <aside>
    <p>Copyright © {today.getFullYear()} - All right reserved by PaperAir</p>
  </aside>
  <nav>
    <div class="grid grid-flow-col gap-4">
      <a aria-label="Github Profile" class="btn btn-ghost btn-circle btn-sm">
        <Icon name="ri:github-fill" class="w-6 h-6" />
      </a>
      <a
        aria-label="X (Twitter) Profile"
        class="btn btn-ghost btn-circle btn-sm"
      >
        <Icon name="ri:twitter-x-fill" class="w-6 h-6" />
      </a>
    </div>
  </nav>
</footer>
