---
import { footerConfig } from "@settings/footer";
/**
 * 全站底部组件
 * 包含版权信息和社交媒体链接。
 * 社交链接数据和作者信息配置在 `src/settings/footer.ts` 中。
 */
import { Icon } from "astro-icon/components";

const today = new Date();
---

<footer class="footer footer-center bg-base-100 text-base-content p-10 rounded">
  <aside>
    <p>
      Copyright © {today.getFullYear()} - All right reserved by {
        footerConfig.author
      }
    </p>
  </aside>
  <nav>
    <div class="grid grid-flow-col gap-4">
      {
        footerConfig.socialLinks.map((link) => (
          <a
            aria-label={link.ariaLabel}
            href={link.url}
            target="_blank"
            rel="noopener noreferrer"
            class="btn btn-ghost btn-circle btn-sm"
          >
            <Icon name={link.icon} class="w-6 h-6" />
          </a>
        ))
      }
    </div>
  </nav>
</footer>
